/* @import "tailwindcss"; */

:where(input, select, textarea, fieldset, .grid, [role=group]) + small {
  display: block;
  width: 100%;
  margin-top: calc(var(--pico-spacing) * -0.75);
  margin-bottom: var(--pico-spacing);
  color: var(--pico-muted-color);
}

[role=group]:has([aria-invalid=true]) + small {
  color: var(--pico-del-color);
}

[role=group]:has([aria-invalid=false]) + small {
  color: var(--pico-ins-color);
}
